*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color:white;
    /* background-image: url('https://images.pexels.com/photos/2102416/pexels-photo-2102416.jpeg'); /* Veya bir gradyan */
    background-size: cover;
    background-image: url("assets/top-view-unrecognizable-hacker-performing-cyberattack-night.jpg");


    background-position: center;
    background-attachment: fixed;
    animation: moveBackground  60s infinite linear;
}

@keyframes moveBackground {
    0% { background-position: 0 0; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0 0; }
}


/* Header */


header h1 {
    font-size: 2.2rem; /* Biraz küçültüldü */
    margin: 10px 0;
}

header p {
    font-size: 1.2rem; /* Alt başlık daha okunabilir */
    color: #dcdcdc; /* Açık bir gri ton kullanıldı */
    margin-top: 10px;
}

header {
    width: 75%;

    margin: 20px auto;
    border-radius: 20px;
    background: linear-gradient(135deg, rgba(128, 128, 128, 0.95), rgba(0, 0, 0, 0.99));


    color: white;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

/* Dinamik Hareketli Arka Plan */
header::before {
    content: " ";
    position: absolute;
    top: 5%;
    left: -50%;

    width: 150%;
    height: 150%;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.2), transparent 70%);
    animation: pulse 6s infinite;
    transform: rotate(0deg);
    z-index: 1;
}

@keyframes pulse {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(0.5) rotate(270deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

/* Profil Detayları */
header .profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 1; /* Arka plan efektlerinden üstte göster */
}

header .profile-picture {
    width: 300px;
    height: 250px;
    border-radius: 10%;
    object-fit:cover;

    border: 5px solid white;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/* Profil Fotoğrafı Hover Etkisi */
.profile-picture:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Profil Fotoğrafı Klik Etkisi */
.profile-picture:active {
    transform: scale(1.5);
    box-shadow:   10px 10px rgba(0, 0, 0, 0.3);
    border: 5px solid #0056b3;

}



/* Ana Kartlar */
main {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
}
.about-me{
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}*{
     margin:0;
     padding: 0;
     font-family: 'Poppins', sans-serif;
     box-sizing: border-box;
 }

body {
    background-color:white;
    background-size: cover;
    background-image: url("assets/top-view-unrecognizable-hacker-performing-cyberattack-night.jpg");


    background-position: center;
    background-attachment: fixed;
    animation: moveBackground  60s infinite linear;
}
/* background animatie */
@keyframes moveBackground {
    0% { background-position: 0 0; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0 0; }
}


/* Header */


header h1 {
    font-size: 2.2rem;
    margin: 10px 0;
}

header p {
    font-size: 1.2rem;
    color: #dcdcdc;
    margin-top: 10px;
}

header {
    width: 75%;

    margin: 20px auto;
    border-radius: 20px;
    background: linear-gradient(135deg, rgba(128, 128, 128, 0.95), rgba(0, 0, 0, 0.99));


    color: white;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

/* Dynamische bewegingsachtergrond */
header::before {
    content: " ";
    position: absolute;
    top: 5%;
    left: -50%;

    width: 150%;
    height: 150%;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.2), transparent 70%);
    animation: pulse 6s infinite;
    transform: rotate(0deg);
    z-index: 1;
}

@keyframes pulse {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(0.5) rotate(270deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

/* Profil Details */
header .profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 1;
}

header .profile-picture {
    width: 300px;
    height: 250px;
    border-radius: 10%;
    object-fit:cover;

    border: 5px solid white;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/* Profile photo Hover Effect */
.profile-picture:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Profile photo click  */
.profile-picture:active {
    transform: scale(1.5);
    box-shadow:   10px 10px rgba(0, 0, 0, 0.3);
    border: 5px solid #0056b3;

}



/* main card */
main {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
}

p {
    font-size: 1.1rem;

    color: #000000;
}
.edu{
    background-color: black;
}

.card{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin: 15px 0;
    padding: 25px;
    width: 90%;
    max-width: 900px;
    transition: transform 0.2s, box-shadow 0.2s;
    position: sticky;
    top: 0;
    z-index: 0;
    overflow: hidden;
}
.card::before {
    content: " ";
    position: absolute;
    height:1000%;
    width:100px;
    margin-left: 40%;
    background-color: red;
    box-shadow: 0 0 20px  rgba(8,8,8);
    animation: animate  5s linear infinite;
    z-index: -3;
}
.card::after {
    content: " ";
    position: absolute;
    inset: 2px;

    background: rgb(0, 0, 0);
    border-radius: 16px;
    z-index: -2;


}

@keyframes animate {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2 {
    color: white;
    border-bottom: 3px solid #0056b3;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.5em;
    text-transform: uppercase;
}

.card ul {
    list-style-type: none;
    padding-left: 0;
}

.card ul li {
    margin: 8px 0;
    padding: 10px;
    background: #f8f9fa;
    border-radius: 6px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card ul li:hover {
    background: #e9ecef;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
}


.card ol {
    list-style-type: none;
    padding-left: 0;
}

.card ol li  {
    margin: 8px 0;
    padding: 10px;
    background: #f8f9fa;
    border-radius: 6px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card ol li:hover {
    background: #e9ecef;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
}





/* Footer Style */
.footer {
    display: flex;
    height: 100px;
    margin: 0 auto;

    align-items: center;
    background-color: #0056b3;
    color: white;
    padding: 20px ;

    bottom: 0;
    width: 100%;
}
footer p {
    color: white;
}
.footer-left,
.footer-center,
.footer-right {
    flex: 1;
    text-align: center;
}

.footer-left {

    text-align: left;
}

.footer-right button {
    background-color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.footer-right button:hover {
    background-color: #c1c1c1;
}


/* algemene settings */
.languages-container {
    position: absolute;
    top: 575px;
    left: 0;
    width: 240px;
    padding: 20px;
    border-radius: 20px;
    background: rgba(0, 3, 8, 0.72);
    color: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.languages-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

/* language cards */
.language-card {
    background: white;
    color: black;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.language-card .language-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.language-card .progress-bar {
    width: 100%;
    height: 8px;
    background: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.language-card .progress-bar .progress {
    height: 100%;
    background: linear-gradient(to right,#ff004f, #8bc34a, #4caf50);
    border-radius: 5px;


}

/* Hover Effects*/
.language-card:hover {
    transform: translateY(-3px);
    transition: all 0.3s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}
a{
    color: white;
    text-decoration: none;
}

.icon{
    width: 5%;
    height: 5%;
    border-radius: 25px;
}
.contact-icons{
    width: 7%;
    height: 7%;
    border-radius: 15px;

}

/* contact TABLE */
.contact-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.contact-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.contact-table td strong {
    font-weight: bold;
    color: #ffffff; /* Tittle kleuren */
}

.contact-table a {
    color: #ffffff;
    text-decoration: none;
}

.contact-table a:hover {
    text-decoration: underline;
}




section div .v{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 20px;
    padding: 20px;
    background-color: #121212;
    border-radius: 10px;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.skill {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 120px;
    position: relative;
}

.circle {
    width: 100px;
    height: 100px;
    background: conic-gradient(#0056b3 0% 100%, #ccc 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.circle span {
    font-size: 1.1rem;
    color: white;
    position: absolute;
}

.skill p {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #0056b3;
}

/* Dynamische cirkelkleur */
.circle[data-percentage="100"] {
    background: conic-gradient(#00ff7f 0% 100%, #ccc 100%);
}

.circle[data-percentage="85"] {
    background: conic-gradient(#ffcc00 0% 85%, #ccc 85%);
}

.circle[data-percentage="75"] {
    background: conic-gradient(#ff6347 0% 75%, #ccc 75%);
}
.circle[data-percentage="50"] {
    background: conic-gradient(#1100ff 0% 50%, #ccc 50%);
}




/* Mobile versie */
@media screen and (max-width: 480px) {
    body {
        background-size: contain;
    }

    header {
        width: 90%;
        padding: 20px 10px;
    }

    header h1 {
        font-size: 1.5rem;
    }

    header p {
        font-size: 0.9rem;
    }

    header .profile-picture {
        width: 150px;
        height: 100px;
        border: 3px solid white;
    }

    .card {
        padding: 15px;
    }

    .card h2 {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer button {
        font-size: 12px;
    }

    .circle {
        width: 60px;
        height: 60px;
    }

    .circle span {
        font-size: 0.75rem;
    }

    .skill p {
        font-size: 0.75rem;
    }

    section div .v {
        padding: 10px;
        gap: 10px;
    }

    .contact-table td {
        padding: 5px;
        font-size: 0.8rem;
    }
}








p {
    font-size: 1.1rem;

    color: #000000;
}
.edu{
    background-color: black;
}

.card{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin: 15px 0;
    padding: 25px;
    width: 90%;
    max-width: 900px;
    transition: transform 0.2s, box-shadow 0.2s;
    position: sticky;
    top: 0;
    z-index: 0;
    overflow: hidden;
}
.card::before {
    content: " ";
    position: absolute;
    height:1000%;
    width:100px;
    margin-left: 40%;
    background-color: red;
    box-shadow: 0 0 20px  rgba(8,8,8);
    animation: animate  5s linear infinite;
    z-index: -3;
}
.card::after {
    content: " ";
    position: absolute;
    inset: 2px;

    background: rgb(0, 0, 0);
    border-radius: 16px;
    z-index: -2;


}

@keyframes animate {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2 {
    color: white;
    border-bottom: 3px solid #0056b3;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.5em;
    text-transform: uppercase;
}

.card ul {
    list-style-type: none;
    padding-left: 0;
}

.card ul li {
    margin: 8px 0;
    padding: 10px;
    background: #f8f9fa;
    border-radius: 6px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card ul li:hover {
    background: #e9ecef;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
}


.card ol {
    list-style-type: none;
    padding-left: 0;
}

.card ol li  {
    margin: 8px 0;
    padding: 10px;
    background: #f8f9fa;
    border-radius: 6px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card ol li:hover {
    background: #e9ecef;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
}





/* Footer Style */
.footer {
    display: flex;
    height: 100px;
    margin: 0 auto;

    align-items: center;
    background-color: #0056b3;
    color: white;
    padding: 20px ;

    bottom: 0;
    width: 100%;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
    text-align: center;
}

.footer-left {

    text-align: left;
}

.footer-right button {
    background-color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.footer-right button:hover {
    background-color: #c1c1c1;
}


/* Genel Ayarlar */
.languages-container {
    position: absolute;
    top: 575px;
    left: 0;
    width: 240px;

    padding: 20px;
    border-radius: 20px;
    /*background: linear-gradient(to bottom,lightcoral,red,black, #0056b3);*/
    background: rgba(0, 3, 8, 0.72);
    color: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.languages-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

/* Dil Kartları */
.language-card {
    background: white;
    color: black;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.language-card .language-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.language-card .progress-bar {
    width: 100%;
    height: 8px;
    background: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.language-card .progress-bar .progress {
    height: 100%;
    background: linear-gradient(to right,#ff004f, #8bc34a, #4caf50);
    border-radius: 5px;


}

/* Hover Efektleri */
.language-card:hover {
    transform: translateY(-3px);
    transition: all 0.3s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}
a{
    color: white;
    text-decoration: none;
}

.icon {
    width: 5%;
    height: 5%;
    border-radius: 25px;

}
.contact-icons{
    width: 3%;
    height: 3%;
    border-radius: 25px;

}

/* İletişim Tablosu */
.contact-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.contact-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.contact-table td strong {
    font-weight: bold;
    color: #ffffff; /* Başlık renkleri */
}

.contact-table a {
    color: #ffffff;
    text-decoration: none;
}

.contact-table a:hover {
    text-decoration: underline;
}




section div .v{
    width: 100%; /* Diğer bölümlerle aynı genişlikte yap */
    max-width: 600px; /* Maksimum genişlik */
    margin: 0 auto; /* Ortala */
    display: flex; /* Flex düzeni */
    flex-wrap: wrap; /* Satır dolduğunda alt satıra geç */
    justify-content:center; /* Elemanlar arasında boşluk bırak */
    gap: 20px; /* Elemanlar arasında mesafe */
    padding: 20px;
    background-color: #121212; /* Arka plan rengi */
    border-radius: 10px; /* Köşe yuvarlama */
}

.skills-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.skill {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 120px;
    position: relative;
}

.circle {
    width: 100px;
    height: 100px;
    background: conic-gradient(#0056b3 0% 100%, #ccc 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.circle span {
    font-size: 1.1rem;
    color: white;
    position: absolute;
}

.skill p {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #0056b3;
}

/* Dinamik Çember Rengi */
.circle[data-percentage="100"] {
    background: conic-gradient(#00ff7f 0% 100%, #ccc 100%);
}

.circle[data-percentage="85"] {
    background: conic-gradient(#ffcc00 0% 85%, #ccc 85%);
}

.circle[data-percentage="75"] {
    background: conic-gradient(#ff6347 0% 75%, #ccc 75%);
}
.circle[data-percentage="50"] {
    background: conic-gradient(#1100ff 0% 50%, #ccc 50%);
}




/* Mobil Cihazlar için */
@media screen and (max-width: 480px) {
    body {
        background-size: contain;
    }

    header {
        width: 90%;
        padding: 20px 10px;
    }

    header h1 {
        font-size: 1.5rem;
    }

    header p {
        font-size: 0.8rem;
    }

    header .profile-picture {
        width: 150px;
        height: 100px;
        border: 3px solid white;
    }

    .card {
        padding: 15px;
    }

    .card h2 {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer button {
        font-size: 12px;
    }



}